*,*:before,*:after {
	margin: 0; 
	padding: 0;
}

body {
	line-height: 20px;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
}

img {
	max-width: 100%;
}

header a {
	display: inline-block;
	margin: 10px 15px;
}